.cli-window{
    height: 100%;
    overflow: auto;
    padding-bottom: 4rem;
    background-color: rgb(34, 34, 34);
    div[name="react-console-emulator"]{
        height: 100%;
        background-color: transparent !important;
    }
}