.cards{
    overflow: scroll;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    padding:1rem ;
    justify-content: center;
    padding-bottom:5rem ;
    .card{
        flex-grow: 1;
        flex-basis: 15rem;
        max-width: 17.5rem;
        padding-inline:1rem ;
        padding-block:0.75rem ;
        background-color: rgb(36, 35, 35);
        border-radius: 0.5rem;
        color: rgb(241, 236, 236);

        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        img{
            width: 100%;
            border-radius: 0.7rem;
        }
        h1{
            font-size: 1.3rem;
            font-weight: 500;
        }
        .description{
                opacity: 0.7;
                word-spacing: 0.1rem;
                line-height: 1rem;
        }
        .tags{
            display: flex;
            flex-wrap: wrap;
            gap:0.2rem;
            .tag{
                background-color: rgb(84, 88, 84);
                width: fit-content;
                padding-inline:0.3rem ;
                
                padding-block: 0.25rem;
                border-radius: 0.5rem;
                white-space: nowrap;
            }
        }

        .url{
            display: flex;
            gap: 1rem;
            
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}