.note-window{
    // width: 80%;
    // max-width: 17.5rem;
    overflow: auto;
    padding: 0.5rem;
    height: 100%;
    padding-bottom:10rem ;
    font-size: 1.1rem;

    pre{
        background-color: transparent !important;
    }
}