nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    color: white;
    padding-inline: 0.75rem;
    padding-block: 0.3rem;
    background-color: rgba(187, 185, 185, 0.11);
    backdrop-filter: blur(10px);

    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
    .left{
        display: flex;
        gap: 1rem;
    }
    .right{
        display: flex;
        gap: 1rem;
    }
}